html,body{
	padding:0;
	margin:0;
	height: 100%;
	background-color: #181818;
    min-width: 720px;
    font-size: 14px;
}
*{
	font-family: Helvetica,Arial;
	color: #fff; 
}
#nowPlayingBarContainer{
	width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}
#nowPlayingBar{
	display: flex;
	height: 90px;
	padding: 15px;
	box-sizing: border-box;
}
#nowPlayingLeft,#nowPlayingRight{
	width: 30%;
    max-width: 180px;
}
#nowPlayingCenter{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#nowPlayingBar .content {
  width: 100%
}
.playerControls .button {
	margin: 0 auto;
	display: table;
}
.controlButton{
	background-color: transparent;
	border: none;
	vertical-align: middle;
}
.controlButton img{
	width: 20px;
    height: 20px;
}
.controlButton.play img,
.controlButton.pause img{
	width: 34px;
    height: 34px;
}
.controlButton:hover{
	cursor: pointer;
}
.progressTime{
	color: #a0a0a0;
	font-size: 14px;
	min-width: 35px;
	text-align: center;
}
.playbackBar{
	display: flex;
	display: table;
	vertical-align: middle;
	
	display: table;
}

.progressBar{
 width: 300px;
 height: 12px;
 display: inline-flex;
 cursor: pointer;
padding-left: 60px;

}
.progressBarBg{
	background-color: #404040;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
.progress{
background-color: #a0a0a0;
height:4px;
width:0;
border-radius: 2px;
}
.playbackBar .progressBar{
	    margin-top: 4px;
}
#nowPlayingLeft .albumArtwork{
	height: 100%;
	max-width:  100px;
	margin-right:15px;
	float: left;
	background-size: cover; 
}
#nowPlayingLeft .trackInfo .trackName{
	margin: 6px 0;
	display: inline-block;
	width: 100%;
}
#nowPlayingLeft .trackInfo{
	display: table; 
}
#nowPlayingLeft .trackInfo .artistName span{
font-size: 12px;
color: #a0a0a0;
}
#nowPlayingLeft{
	margin-right: 70px;
}
.volumeBar{
	width:180px;
	position: absolute;
	right: 0; 
}
.volumeBar .progrssBar{
	width: 125px;
}
#nowPlayingRight{
position: relative;
margin-top: 16px;
}
#topContainer{
	min-height: 100%;
	width: 100%;
}
#navBarContainer{
	background-color: #292727;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.navBar{
	    padding: 25px;
    display: flex;
    flex-direction: column;
}
.logo img{
	width: 35px;
	}
﻿.navBar .group{
	border-top: 1px solid	#a0a0a0;
	padding: 10px 0;

}
.navItem{
	padding:7px;
	font-size: 16px;
	font-weight: 700;
	display: block;
	letter-spacing: 1px;
}
﻿
.navItemLink{
	color: #a0a0a0;
	text-decoration: none;
}
.navItemLink:hover{
	color: #fff;
}
.gridViewContainer{
	    padding-left: 260px;
}


.gridViewItem img {
	width:100%;
	padding-top: 20px;

}
.gridViewInfo{
	text-align:center;
	font-weight:700;
	padding:5px;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;

}
.gridViewItem{
	display:inline-block;
	margin-right:20px;
	width:29%;
	max-width:200px;
	min-width:100px;
	margin-bottom:20px;
}


